@import "~bootstrap/less/bootstrap";
@import "~font-awesome/less/font-awesome";
@import "~octicons/octicons/octicons.less";
@octicons-font-path: "~octicons/octicons";
@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

.pageheader i.mega-octicon {
    color: #f1c40f;
}
.navbar-brand {
  padding: 5px;
}

.alternatives li:nth-child(odd) {
  background-color: #f8f8f8;
}

.issue-list {
  .octicon {
    &.open {
      color: #6cc644;
    }
    &.closed {
      color: #bd2c00;
    }
    &.merged {
    }
    &.reverted {
    }
  }
  li {
    .btn {
      margin: 10px 0;
    }
  }
}

.issue-header {
  .btn {
    margin: 10px 0;
  }
}
